@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.mosha__icon {
  margin-right: 12px !important;
  margin-left: 8px;
}

.mosha__toast__content__description {
  font-size: 16px !important;
}

.inactive-btn:hover {
  background: transparent;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}
